<script type="text/javascript">
	var menuJson = [
		{ "id" : "1", "pid" : "0", "text" : "Tutorials", "link" : "{{ site.baseurl }}/tutorial/latest/"},
		{ "id" : "2", "pid" : "0", "text" : "Attributes", "link" : "{{ site.baseurl }}/attribute/latest/"},
		{ "id" : "3", "pid" : "0", "text" : "Methods", "link" : "{{ site.baseurl }}/method/latest/"},
		{ "id" : "4", "pid" : "0", "text" : "Design", "link" : "{{ site.baseurl }}/design/latest/"},
		{ "id" : "5", "pid" : "0", "text" : "Release history", "link" : "{{ site.baseurl }}/history/index.html"}
	];
</script>

<sbux-menu id="topMenu" name="topMenu" uitype="normal" jsondata-ref="menuJson">
	<brand-item text="SBUx 2.6" link="{{ site.baseurl }}/"></brand-item>
</sbux-menu>

<!--
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/">
				SBUx v2.6
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ site.baseurl }}/tutorial/latest/">Tutorials</a></li>
				<li><a href="{{ site.baseurl }}/setup/latest/">Setup</a></li>
				<li><a href="{{ site.baseurl }}/attribute/latest/">Attributes</a></li>
				<li><a href="{{ site.baseurl }}/method/latest/">Methods</a></li>
				<li><a href="{{ site.baseurl }}/design/latest/">Design</a></li>
				<li><a href="{{ site.baseurl }}/history/index.html">Release history</a></li>
			</ul>
			<div class="navbar-right">
					<ul class="nav navbar-nav">
					<li><a href="http://www.softbowl.co.kr" target="_blank">SOFTBOWL</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
-->