<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/">
				<!-- <span><img src="/img/logonav.png"></span> --> SBChart v2.0
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ site.baseurl }}/docs/release/latest/">API</a></li>
				<li><a href="{{ site.baseurl }}/examples/release/latest/basic/basic-getting-started.html">Examples</a></li>
			</ul>
			<div class="navbar-right">
					<ul class="nav navbar-nav">
					<li><a href="http://www.softbowl.co.kr" target="_blank">SOFTBOWL</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>