<sbux-tree id="lnbList" name="lnbList" uitype="normal" expand-type="icon" is-expand-only-select="true" style="width:280px;">
	{% assign version = page.categories[0] %}
	{% assign cates = site.cate_tutorial[version] %}
	{% for cate in cates %}
		<tree-item id="{{ cate.name }}" text="{{ cate.title }}">
		{% assign pages = site.tutorial | where: "categories", version | where: "categories", cate.name | sort: "order" %}
		{% for item in pages %}
			<tree-item text="{{ item.title }}" link="{{ site.baseurl }}{{site.path}}{{ item.url }}#{{ cate.name }}"></tree-item>
		{% endfor %}
		</tree-item>
	{% endfor %}	
</sbux-tree>