/*SBUx-compatable*/
body {
  padding: 0;
  font-size: 12px;
  background: #fff;
  color: #333;
  font-family: 'Malgun Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/********************color********************/
/*#d4d4d5*/
/*readonly,disabled bgcolor*/
/********************icon********************/
.glyphicon {
  /* 20180329, remove for picker icon position position: relative;*/
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/********************font********************/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/********************font-size********************/
.smallfont {
  font-size: 11px;
}
.basefont {
  font-size: 12px;
}
.btn-red {
  background: red;
  border-color: red;
}
.btn-blue {
  background: blue;
  border-color: blue;
}
/********************color********************/
.dark {
  color: #333 !important;
}
.white {
  color: #fff !important;
}
.red {
  color: #dd5a43 !important;
}
.red2 {
  color: #e08374 !important;
}
.light-red {
  color: #f77 !important;
}
.blue {
  color: #478fca !important;
}
.light-blue {
  color: #93cbf9 !important;
}
.green {
  color: #69aa46 !important;
}
.light-green {
  color: #b0d877 !important;
}
.orange {
  color: #ff892a !important;
}
.orange2 {
  color: #feb902 !important;
}
.light-orange {
  color: #fcac6f !important;
}
.purple {
  color: #a069c3 !important;
}
.pink {
  color: #c6699f !important;
}
.pink2 {
  color: #d6487e !important;
}
.brown {
  color: #a52a2a !important;
}
.grey {
  color: #777 !important;
}
.light-grey {
  color: #bbb !important;
}
/*button*/
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd {
  /*change//tab-content->sbux-tab-content*/
}
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd .tab-content {
  padding: 20px;
  background: #fff;
  border: 1px solid #bdbfc5;
  border-top: none;
}
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd .tab-content .tab-pane {
  display: none;
}
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd .tab-content .active {
  display: block;
}
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd .tab-content > div > table td {
  padding-bottom: 20px;
  vertical-align: top;
}
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd .tab-content > div > table td select {
  height: 30px;
}
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd .tab-content > div > table td button {
  height: 30px;
  margin-left: 10px;
  background: orange;
  color: #fff;
}
.sbux-mol-wrap .sbux-mol-cont .sbux-mol-bd .tab-content table {
  vertical-align: middle;
}
/*extend*/
.tab-content {
  position: relative;
  padding: 16px 12px;
  overflow: auto;
  border: 1px solid #bdbfc5;
  background: #fff;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .tab-pane.active {
  display: block;
}
