@charset "utf-8";
/* CSS Document */
.sbux-pik-group {
  border-collapse: collapse;
  border-spacing: 0;
}
.sbux-sel {
  margin: 0;
  padding: 0;
}
.sbux-sel-chk {
  margin: 0;
  padding: 0;
}
.sbux-sel-chk ul,
.sbux-sel-chk li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sbux-inp-btn-group {
  border-collapse: collapse;
  border-spacing: 0;
}
.sbux-ddl ul,
.sbux-ddl li {
  list-style: none;
}
.sbux-tabs-wrap > ul {
  padding: 0;
  margin: 0;
}
.sbux-tabs-wrap > ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sbux-sidemeu {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.sbux-sidemeu ul {
  padding: 0;
  margin: 0;
}
.sbux-sidemeu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sbux-pik-popwrap li {
  list-style: none;
}
.sbux-acc-meu-list {
  padding: 0;
  margin: 0;
}
.sbux-ale-wrap p {
  padding: 0;
  margin: 0;
}
